<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!--  <event name="checkout_submit_all_after">
       <observer name="lr_ordercsv_observer_ordersubmitallafter" instance="LR\OrderCsv\Observer\OrderSubmitAllAfter" />
   </event> -->
   <event name="checkout_onepage_controller_success_action">
       <observer name="lr_ordercsv_observer_ordersuccess" instance="LR\OrderCsv\Observer\OrderSuccess" />
   </event>
</config>