<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Aitoc Team
 * @copyright Copyright (c) 2020 Aitoc (https://www.aitoc.com)
 * @package Aitoc_Gifts
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Aitoc_Gifts::main" title="Aitoc: Promo Products" sortOrder="31">
                        <resource id="Aitoc_Gifts::promotions" title="Promotional Rules" translate="title" sortOrder="10" />
                        <resource id="Aitoc_Gifts::analytics" title="Analytics" translate="title" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Aitoc_Gifts::config" title="Aitoc: Promo Products" translate="title" sortOrder="999998"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>