<?xml version="1.0"?>
<!--
/**
 * @author Aitoc Team
 * @copyright Copyright (c) 2020 Aitoc (https://www.aitoc.com)
 * @package Aitoc_Gifts
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Aitoc_Gifts" setup_version="1.0.0"/>
    <sequence>
        <module name="Aitoc_Core"/>
        <module name="Aitoc_Banners"/>
        <module name="Magento_Reports"/>
        <module name="Magento_WebsiteRestriction"/>
    </sequence>
</config>